.booster {
  &.selected {
    & .booster_btn {
      background-color: $color-background-dark;
      color: var(--color-font-main);
    }
    & .show-all_count {
      color: var(--color-font-main);
    }
  }

  &_btn {
    background-color: var(--color-btn-secondary);
    -webkit-animation: bubble-animation 6s ease-out infinite;
    animation: bubble-animation 6s ease-out infinite;
  }
}
