.double-cards {
  &_card[data-disabled='false'] {
    & .double-cards_card--back {
      &:hover {
        transition: filter ease-in-out 0.1s;
        box-shadow: 0 0 1rem 0.5rem $color-font-light-gray;
        border: 0.2rem solid $color-font-white;
        filter: var(--color-card-hue) var(--color-card-hue-hover) brightness(1.2);
      }
    }
  }

  &_card {
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &--front {
      transform: rotateY(90deg);
      transition: all ease-in 0.2s;
      position: absolute;
    }

    &.flipped &--front {
      transform: rotateY(0deg);
      transition-delay: 0.2s;
    }

    &--back {
      transition: all ease-in 0.2s;
      transition-delay: 0.2s;
      filter: var(--color-card-hue) var(--color-card-contrast);

      &.freezed {
        display: none;
      }
    }

    &.flipped &--back {
      transform: rotateY(90deg);
      transition-delay: 0s;
    }

    & img {
      width: 100%;
      display: block;
      border: 2px solid $color-font-light-gray;
      border-radius: 1rem;

      &:active {
        filter: grayscale(100%) contrast(100);
      }
    }

    &--frozen {
      position: absolute;
      top: 0;
      border: 0.2rem solid $color-background-white !important;
      box-shadow: 0 0 2rem 0.1rem $color-background-white;
      z-index: 10001;
      filter: hue-rotate(20deg);

      &:active {
        filter: grayscale(20%) hue-rotate(60deg) !important;
      }
    }
  }
}
