.obstacle {
  position: relative;
  margin: 0.2rem 0.6rem;

  &_btn {
    border-radius: 40%;
    cursor: none;
    pointer-events: none;
  }
  &_count {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
  }

  &.highlight {
    -webkit-animation: highlight-animation 0.4s ease-out infinite;
    animation: highlight-animation 0.4s ease-out infinite;
  }

  &.pulse {
    -webkit-animation: pulse-animation 1s ease-out infinite;
    animation: pulse-animation 1s ease-out infinite;
  }

  &.active {
    .obstacle_btn {
      background-color: var(--color-btn-obstacle);
    }
  }
}
