.theme {
  display: grid;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  color: $color-font-dark-gray;
  background: url('../../../../public/background/lightBackground.jpg') no-repeat;
  background-size: cover;

  &.theme--dark {
    color: $color-font-light-gray;
    background: url('../../../../public/background/darkBackground.jpg') no-repeat;
    background-size: cover;
  }
}
