.toolbar-obstacles {
  width: 100%;
  position: absolute;
  bottom: -8rem;
  left: 0;
  margin: 0;
  padding: 0.2rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-font-white;
  font-size: 1.5rem;
  border: 0.2rem solid var(--color-shadow-secondary) !important;

  &.disabled {
    filter: grayscale(100);
    opacity: 40%;
  }

  &.game-app_container {
    border-radius: 2rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);

    &:before {
      margin: 0 auto;
      border-radius: 2rem;
      background: var(--color-background-secondary);
      filter: none;
      box-shadow: inset 0 0 200px rgba(255, 255, 255, 0.2);
    }
  }
}

@media screen and (max-width: $breakpoint-max-small-screen) {
  .toolbar-obstacles {
    top: -5rem;
    margin: 0 auto;
  }
}
