.grid-resize {
  position: relative;

  &_table {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    border-spacing: 1rem;
    empty-cells: show;
    border: 0.2rem solid $color-font-white;
    background-color: $color-background-white;
    z-index: 101;

    & tr {
      height: 2.5rem;

      & td {
        min-width: 2.5rem;
        background-color: $color-background-secondary;

        &.selected {
          filter: contrast(1.7);
        }
      }
    }

    &__footer {
      min-height: 1.7rem;
      margin-right: 1rem;
      display: flex;
      flex-direction: row-reverse;
      font-size: 1.5rem;
    }
  }
}
